
<a href="/">Back to Home</a>
{{> navbar }}
<div class="row">
{{#each post}}
<div class="col-sm-6 col-sm-offset-3">
<h1>{{this.title}}</h1>
<h2>{{this.restaurantName}}</h2>
<p>{{this.description}}</p>
</div>
<p><a href="/posts/{{{this._id}}}/edit">Edit</a></p>
<p><form method="POST" action="/posts/{{{this._id}}}?_method=DELETE">
    <button type="submit">Delete</button>
{{/each}}

{{!-- show comment form --}}
{{> comment-form}}

<hr>
{{#each comments}}
{{> comment}}
{{/each}}
</div>